@font-face {
    font-family: "Neue-Light";  
    src: local("NeueMachina-Light"),
      url("assets/fonts/NeueMachina-Light.otf") format("opentype");
  }

  @font-face {
    font-family: "Neue-Regular";  
    src: local("NeueMachina-Regular"),
      url("assets/fonts/NeueMachina-Regular.otf") format("opentype");
  }


  @font-face {
    font-family: "Neue-Ultrabold";  
    src: local("NeueMachina-Ultrabold"),
      url("assets/fonts/NeueMachina-Ultrabold.otf") format("opentype");
  }

  @font-face {
    font-family: "Darker-Light";  
    src: local("Darker-Light"),
      url("assets/fonts/DarkerGrotesque-VariableFont_wght.ttf") format("truetype");
  }





